<div class="card" [ngClass]="{ flexbox: isCartPage }">
  <div>
    <img
      [src]="product.image"
      alt="Telefon"
      width="90%"
      height="90%"
      class="image"
    />
  </div>
  <div>
    <h1>{{ product.title | uppercase }}</h1>
    <p class="price" appRedEl>{{ product.price }}</p>
    <p class="description">{{ product.description }}</p>
    <span *ngIf="!isCartPage">Na stanju:{{ product.supplies }}</span>
    <span *ngIf="isCartPage">U korpi:{{ product.inCart }}</span>
  </div>
  <p>
    <button (click)="onAddToCart()" #addButton>Dodaj u korpu</button>
    <button (click)="onRemoveFromCart()" *ngIf="isCartPage">
      Izbrisi iz korpe
    </button>
  </p>
</div>
