<div>
  <h1 class="display-2 text-center">{{ heading }}</h1>
</div>



<!-- ovo ima -->
<div>
  <p>Pretraži telefon:</p>
  <input type="text" [(ngModel)]="search" />
  <p>Pretražuje se: {{ search }}</p>
</div>

<!-- ima 2 verzije, obe ovo ima -->
<div class="products">
  <app-product
    *ngFor="let p of products | filter : search : 'title'"
    class="product"
    [product]="p"
    (productCreated)="addNewItem($event)"
  ></app-product>
</div>

<div class="products">
  <app-product
    *ngFor="let p of products"
    class="product"
    [product]="p"
    (productCreated)="addNewItem($event)"
  ></app-product>
</div>

